<!DOCTYPE html>
<html>
<head><title>Solicitud de Ingreso Workshop</title></head>
<body>
<h1>Solicitud de Ingreso Workshop.</h1>
<form method="post" action="/Ingreso">
  <p>Esta solicitud es para la inscripci&oacuten en el Workshop. Para esto se debe posicionar frente a la c&aacutemara un par de segundos</p>
  <p>Complete los siguientes recuadros y presione submit cuando est&eacute posicionado frente a la c&aacutemara</p>
<p>Nombre<br><input type="text" name="name"></p>
<p>Apellido<br><input type="text" name="surname"></p>
<input type="submit">
</form>
</body>
</html>
